@charset "UTF-8";
/* CSS Document */

html {
	height: 100%;
	min-height: 900px;
	padding: 20px;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size: 14px;
	width: 100%;
	
	/*background: red; 
    background: -webkit-linear-gradient(left top, rgba(127,178,228,0.79), rgba(127,246,251,0.1)); 
    background: -o-linear-gradient(bottom right, rgba(127,178,228,0.79), rgba(127,246,251,0.1)); 
    background: -moz-linear-gradient(bottom right, rgba(127,178,228,0.79), rgba(127,246,251,0.1)); 
    background: linear-gradient(to bottom right, rgba(127,178,228,0.79), rgba(127,246,251,0.1));*/
	background-image: url("new_year_background.png");
}

.main-wrapper {
	margin: 0 auto;
	padding-top: 20px;
	background-color: rgba(205,205,205,.70);
	
	box-shadow: 5px 5px 3px #888888;
	width: 980px;
	height: 100%;
	min-height: 800px;	
	
}

h1 {
	color: rgba(12,181,221,1.00);
	text-align: center;
	text-shadow: 2px 2px 2px #D3C6C6;
	font-size: 72px;
	text-shadow: 2px 2px grey;
}

p {
	font-size: 23px;
	letter-spacing: 1px;
	color: rgba(210,224,236,1.00);
}

.input-wrapper {
	background-color: rgba(86,93,100,.80);
	width: 285px;
	height: 70px;
	margin: 0 auto;
	border-style: solid;
	border-color: #D5D5D5;
	border-width: 2px;
	border-radius: 10px;
	line-height: 70px;
}

.input-text {
	text-align: center;
	margin: 0 auto;
}

.guess {
	font-size:50px;
}



.spacer {
	width: 100%;
	height: 10px;
	clear: both;
}
.top-spacer {
	width: 100%;
	height: 50px;
}

.box-text {
	text-align: center;
	margin: 0 auto;
	color: black;
		
}

.bottom-container {
	width: 450px;
	height: 40px;
	margin: 0 auto;
	
	
	padding-left: 40px;
	padding-right: 40px;
	/*background-color: rgba(126,126,126,0.1);*/
	/*background-color: #C1C1C1;*/
}
.play-again {
	font-size:14px;
	margin-left: 50px;
	height: 100%;
	line-height: 33px;
	width: 150px;
	float: left;
	border: 2px solid rgba(165,165,165,1.00);
	border-radius: 4px;
	background-color: rgba(201,201,201,1.00);
	
}

.play-again:hover {
	background-color: rgba(221,221,0,1.00);
}
.display-digit {
	height: 100%;
	margin-right: 50px;
	line-height: 33px;
	width: 150px;
	float: right;
	border: 2px solid rgba(165,165,165,1.00);
	border-radius: 8px;
	background-color: rgba(201,201,201,1.00);	
}
.display-digit:hover {
	background-color: rgba(151,189,255,1.00);
}

.input-Text {
	color: black;
}

.numberInput {
	display: block;
	font-size: 23px;
	letter-spacing: 1px;
	color: rgba(0,0,0,1.00);
	background-color: rgba(246,246,246,1.00);
	margin: 0 auto;
	
	margin-top: 5px;
	margin-bottom: 20px;
	width: 60%;
	height: 40px;
	text-align: center;
	border: 2px solid rgba(165,165,165,1.00);
	border-radius: 4px;
}

.top-container {
	width: 500px;
	/*background-color: rgba(126,126,126,0.1);*/
	padding: 10px;
	height: auto;
	margin: 0 auto;
}

.submit-btn {
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 20px;
	background-color: rgba(102,203,65,0.62);
	height: auto;
	width: 150px;
	border: 2px solid rgba(165,165,165,1.00);
	border-radius: 4px;
	line-height: 37px;
	text-align: center;
	font-size: 23px;
	letter-spacing: 1px;
	color: rgba(0,0,0,1.00);
}

.submit-btn:hover {
	background-color: rgba(254,0,0,1.00);
}


#guess-spacer {
	height:50px;
	width:100%;
	text-align:center;
	
}
#guessResult {
	display:none;
	margin:0 auto;
	color:black;
}

#guessHighlight {
	margin:0 auto;
	text-align:center;
	width:100%;
	line-height:50px;
	color: black;	
}

#status-bar {
	width: 100px;
	height: 28px;
	border-radius: 8px;
	
	//margin: 0 auto;
	background-color: rgba(0,199,28,0.70);
}
.status-wrapper {
	display: none;
	width: 600px;
	height: 28px;
	margin: 0 auto;
	border: 2px solid rgba(108,108,108,1.00);
	border-radius: 10px;
	margin-bottom: 10px;	
}
.status-text {
	display: block;
	color: black;
	margin: 0px;
	height: 28px;
	line-height: 26px;
	padding-top: 3px;
	font-weight: bold;
	
}
.cold {
	float:left;
	margin-left: 15px;
	color: blue;
	
}
.hot {
	float:right;
	margin-right: 15px;
	color: red;
}

#hint {
	display: none;
	width:400px;
	height:50px;
	margin: 0 auto;
	
	text-align: center;
}
#hint-text {
	
	height: 100%;
	width: 100%;
	line-height: 50px;
	margin: 0 auto;
	color: black;
	font-size: 16px;
	font-weight: bold;
}

.test {
	color: black;
}

#guessLeft {
	text-align: center;
	width: 200px;
	margin: 0 auto;
}
#guessNumber {
	padding-bottom: 5px;
	border-bottom-style:solid;
	border-bottom-width: 2px;
	
	border-color: rgba(108,108,108,1.00);
}
	
